body{
    margin:0;
    display:block;
    background-color: #4caf50;

}
.box{
    box-shadow: 1px 4px 28px rgb(208, 223, 7);
    text-align: center;
    width: 300px;
    margin: auto;
    background-color: azure;    
    padding:20px;
}
form a{
    text-decoration: none;
    color:#4caf50;
}
form{
    display: inline;
    color:rgb(67, 68, 68)
    
}
.input{
    width:80%;
    
    padding: 15px;
    margin-bottom: 15px;
    background-color:beige;
    box-sizing: border-box;
    border:0ch;
}
.input_button{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px;
    margin-bottom: 10px;
    border:0;
    background-color: #4caf50;
    color:aliceblue;
}
.outer{
    display:table;
    position:absolute;
    top:0;
    left: 0;
    height:100%;
    width:100%;
}
.middle{
    display:table-cell;
    vertical-align: middle;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    color: #a4aaa4;
    font-size: 12px;
}
.input_button:hover{
    box-shadow: 1px 1px 10px rgb(56 177 66);
transition: 500ms;
}